{% extends 'layout.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='channel_list.js') }}"></script>
{% endblock scripts %}
    
{% block body %}
<h3>create a channel</h3>

<h1 id="channel_name" class="fixed-top mx-auto head-color p-1" style="width: 50%;">Channel List</h1>
<div id="channe_list" class="channel-list">
    <ul>
        {% for channel in channels %}
            <li id="{{ channel.id }}" class="channel mt-3 mb-3"><a class="channel-link" href="{{ url_for('channel', channel_name = channel.channel_name) }}">{{ channel.channel_name }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="messages">
    <ul id="message_board">
    </ul>
</div>
<form class="form-inline" action="" method="POST">
    <div class="form-group mx-sm-1 mb-2">
            <label for="channel-name" class="sr-only">username</label>
            <input type="text" class="form-control" name="channel_name" id="channel-name" placeholder="create channel name" required>
    </div>
    <button type="submit" class="btn btn-warning mb-2" id="send_message_button">Create channel</button>
</form>
{%  endblock%}